@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-spaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}
.font-urbanist {
  font-family: "Urbanist", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

body,
p,
input,
button {
  font-family: "Inter", sans-serif;
}

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

/* Add to your global CSS */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
